/* ProTo Icon Font */
@font-face {
    font-family: 'ProTo';
    src: url('ProTo.woff2') format('woff2'),
         url('ProTo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon {
    font-family: 'ProTo' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}

/* Icon classes */

.icon-max:before {
    content: "M";
}

.icon-vk:before {
    content: "V";
}

.icon-telegram:before {
    content: "T";
}

.icon-ok:before {
    content: "O";
}

.icon-rutube:before {
    content: "R";
}

.icon-youtube:before {
    content: "Y";
}

.icon-instagram:before {
    content: "I";
}

.icon-facebook:before {
    content: "F";
}

.icon-find:before {
    content: "f";
}

.icon-link:before {
    content: "u";
}

.icon-map:before {
    content: "l";
}

.icon-mail:before {
    content: "m";
}

.icon-close:before {
    content: "+";
}

.icon-phone-fax:before {
    content: "*";
}

.icon-phone:before {
    content: "t";
}

.icon-people:before {
    content: "P";
}

.icon-play:before {
    content: "v";
}

.icon-rub:before {
    content: "r";
}

.icon-arrow-up:before {
    content: ">";
}

.icon-arrow-dn:before {
    content: "<";
}

.icon-arrow-right:before {
    content: "}";
}

.icon-file-word:before {
    content: "w";
}

.icon-file-pdf:before {
    content: "p";
}

.icon-file:before {
    content: "d";
}

.icon-file-xl:before {
    content: "x";
}

.icon-file-zip:before {
    content: "z";
}
