
@font-face {
    font-family: 'ProTo';
    src: url('ProTo.woff2') format('woff2'),
         url('ProTo.woff') format('woff');
}

.icons *:before, .icons *:after,.icon *:before, .icon *:after {
    font-family: ProTo;
    text-transform: none;
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
    margin-right: .2em;
    overflow-wrap: anywhere;
    text-decoration: none;
    display: inline-block;
  }

  a:is([href*="https://youtube.com"], [href*="https://youtu.be"]):before {
    content: 'Y';
    color: #B02C27;
  }
  a:is([href*="https://vk.com"], [href*="https://vk.ru"], [href*="https://vkvideo.ru"]):before {
    content:'V';
    color:#4C75A3;
  }
  a[href*="https://rutube.ru"]:before {
    content:'R';
    color:#0b253c;
  }
  a[href*="https://max.ru"]:before {
    content:'M';
    color:#5f80f5;
  }
  a[href*="https://t.me"]:before {
    content:'T';
    color: #23a0dc;
  }
  a[href*="https://ok.ru"]:before {
    content:'O';
    color: #ee8208;
  }
  a[href*="https://wa.me"]:before {
    content: '(';
    color: #23ce47;
  }
  a[href*="viber:"]:before {
    content: ')';
    color: #793baa;
  }
  a[href$=".pdf"]:before {
    content: "p";
    color: red;
  }
  a:is([href$=".doc"], [href$=".docx"]):before {
    content: "w";
    color: #1962b3;
  }
  a:is([href$=".xls"], [href$=".xlsx"]):before {
    content: "x";
    color: #0f8a42;
  }
  a:is([href$=".zip"],[href$=".rar"], [href$=".7zip"]):before {
    content: "z";
  }
  a[href^="mailto:"]:before {
    content: "m";
  }
  a[href^="tel:"]:before {
    content: "t";
  }
  a:is([href^="mailto:"], [href^="tel:"]) {
    white-space: nowrap;
    max-width: 99%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
  .fax:before {
    content: '*' !important;
    margin-right: 4px !important;
  }
  .text:before {
    content: 'D' !important;
  }
   a.link:after, .links a:after {
    content: 'u' !important;
    margin-left: 4px !important;
    color: #a2a2a2;
  }
  .people:before {
    content: 'P' !important;
  }
  .location:before {
    content: "l";
  }
  .rub:after {
    content: "r"; 
  }
  .icon .find:before  {
    content: "f";
  }
  .top:before  {
    content: "<";
  }
   .bottom:before  {
    content: ">";
  }
  .plus:before  {
    content: "+";
  }
  .no-icon a:after, a.no-icon:after, .no-icon a:before, a.no-icon:before, .no-icon:after, .no-icon:before {
    content: none !important;
  }
  @media (max-width: 769px) {
    a:is([href$=".zip"], [href$=".rar"],[href$=".7zip"],[href$=".xls"], [href$=".xlsx"], [href$=".pdf"], [href$=".doc"], [href$=".docx"], .location, .link) {
      overflow: hidden;
    }
  }






















































