/* Custom Icon Font - Generated ProTo */
@font-face {
    font-family: 'ProTo';
    src: url('ProTo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon {
    font-family: 'ProTo' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
}

/* Individual icon classes */
.max:before {
    content: "M";
}

.vk:before {
    content: "V";
}

.telegram:before {
    content: "T";
}

.ok:before {
    content: "O";
}

.rutube:before {
    content: "R";
}

.youtube:before {
    content: "Y";
}

.instagram:before {
    content: "I";
}

.facebook:before {
    content: "F";
}

.find:before {
    content: "f";
}

.link:before {
    content: "u";
}

.map:before {
    content: "l";
}

.mail:before {
    content: "m";
}

.close:before {
    content: "+";
}

.phone-fax:before {
    content: "*";
}

.phone:before {
    content: "t";
}

.file-word:before {
    content: "w";
}

.play:before {
    content: "v";
}

.rub:before {
    content: "r";
}

.arrow-up:before {
    content: ">";
}

.arrow-dn:before {
    content: "<";
}

.arrow-right:before {
    content: "}";
}

.file-pdf:before {
    content: "p";
}

.file:before {
    content: "D";
}

.file-xl:before {
    content: "x";
}

.file-zip:before {
    content: "z";
}

